.custom-navbar{
    background:#2874F0;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}
/* AUTH BUTTONS */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-btn {
  padding: 6px 12px;
  border: 1px solid #38bdf8;
  color: #38bdf8;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.login-btn:hover {
  background: #02cf69;
  color: black;
}

.signup-btn {
  padding: 6px 12px;
  background: #f3f3f3;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #7a7a7b;
}
.logo{
    color:white!important;
    font-size:30px;
    font-weight:bold;
}

.search-box{
    width:45%;
}

.search-box input{
    border-radius:5px;
}

.nav-link{
    color:white!important;
    font-size:17px;
    margin-left:20px;
    transition:.3s;
}

.nav-link:hover{
    color:#FFD700!important;
}

.icon{
    font-size:20px;
}

.cart-badge{
    position:absolute;
    top:-5px;
    right:-10px;
    background:red;
    color:white;
    width:18px;
    height:18px;
    border-radius:50%;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
}

@media(max-width:992px){

.search-box{
    width:100%;
    margin:20px 0;
}

.nav-link{
    margin-left:0;
    padding:10px 0;
}

}
/* Wishlist Badge */

.wishlist-badge{

position:absolute;

top:-5px;

right:-8px;

background:#ff1744;

color:white;

font-size:11px;

font-weight:bold;

width:18px;

height:18px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

}

/* Profile */

.dropdown-toggle::after{

display:none;

}

.dropdown-menu{

border:none;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

padding:10px;

}

.dropdown-item{

padding:10px 18px;

border-radius:8px;

transition:.3s;

}

.dropdown-item:hover{

background:#2874f0;

color:white;

}