.categories{
    background:#f5f7fb;
    padding:60px 0;
}

.category-heading{
    text-align:center;
    font-size:38px;
    font-weight:700;
    margin-bottom:45px;
    color:#222;
}

.category-card{
    background:#fff;
    border-radius:20px;
    height:190px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:.35s;
    cursor:pointer;
    border:1px solid #ececec;
    box-shadow:0 8px 20px rgba(0,0,0,.05);
}

.category-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.icon-circle{
    width:80px;
    height:80px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    color:#fff;
    margin-bottom:18px;

    background:linear-gradient(135deg,#2874F0,#00C6FF);
    transition:.4s;
}

.category-card:hover .icon-circle{
    transform:rotate(10deg) scale(1.15);
    background:linear-gradient(135deg,#ff9800,#ff5722);
}

.category-card h6{
    font-size:18px;
    font-weight:700;
    margin:0;
    color:#222;
}

.category-card small{
    color:#777;
    margin-top:6px;
    font-size:14px;
}