.footer-top{
background:#fff;
padding:50px 0;
}

.feature-box{
text-align:center;
padding:20px;
transition:.3s;
}

.feature-box svg{
font-size:40px;
color:#2874f0;
margin-bottom:15px;
}

.feature-box:hover{
transform:translateY(-8px);
}

.footer{
background:#172337;
color:white;
padding:60px 0 20px;
}

.footer h4,
.footer h5{
margin-bottom:20px;
font-weight:700;
}

.footer ul{
list-style:none;
padding:0;
}

.footer li{
margin-bottom:12px;
cursor:pointer;
transition:.3s;
}

.footer li:hover{
color:#ff9800;
padding-left:5px;
}

.social{
display:flex;
gap:15px;
font-size:22px;
margin-top:15px;
}

.social svg{
cursor:pointer;
transition:.3s;
}

.social svg:hover{
color:#ff9800;
transform:scale(1.2);
}

.payments{
display:flex;
gap:18px;
font-size:34px;
margin-top:25px;
}

.footer hr{
margin:40px 0 20px;
border-color:#555;
}

.copyright{
text-align:center;
margin:0;
color:#bbb;
}